@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.section-products {
  padding: 0 0 54px;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 12px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

/*.section-products #product-1 .part-1::before {
  background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}*/

.section-products .single-product .part-1 .new {
  position: absolute;
  top: 5px;
  left: 20px;
  color: #ffffff;
  background-color: #fe302f;
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: #444444;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
  top: 5px;
  right: 0;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  /*color: #444444;*/
  color: #ffff;
  text-align: center;
  transition: color 0.2s;
  font-size: 25px;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #444444;
}
.section-products .single-product .part-2 {
  padding: 0 5px;
}
.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.section-products .single-product .part-2 p.product-desc {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 0;
}
#container {
  padding-left: 0;
}
